body{
    background-image: url('about-background.jpg'); /* Replace 'background_image_url.jpg' with the URL of your background image */
    background-size: cover; /* Cover the entire body */
    background-position: center; /* Center the background image */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Ensure the body takes up the full viewport height */
    font-family: Arial, sans-serif; /* Set default font family */
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */

}

.menu-image {
    display: none;
}
.upper-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: #fff;
}

.logo{
    display: inline-block;
    height: 50px;
    width: auto;
}

.logo img {
    display: block;
    height: 50px;
    width: auto;
}

.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-items li {
    display: inline-block;
    margin-right: 20px;
}

.menu-items li:last-child {
    margin-right: 0;
}

.menu-items li a {
    display: inline-block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    background-color: #333;
    border: none;
    transition: background-color 0.3 ease;
    font-size: 16px;
}

.menu-items li a:hover {
    background-color: #2E055D;
}

.logo:hover img{
    opacity: 0.7;
}

.home-description {
    font-size: 100px;
    color: #fff;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 540;
    text-align: center;
    padding: 170px;
    margin-bottom: 20px;
}

.small-description {
    font-size: 40px;
    color: #fff;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 540;
    text-align: center;
    padding-top: 45px;
}

.achievements{
    position: absolute;
    font-size: 30px;
    color: #fff;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 540;
    text-align: left;
    padding-top: 30px;
    padding-left: 100px;
}

.achievements p{
    padding: 5px;
}

.achievements p img{
    display: inline-block;
    height: 30px;
    width: auto;
    padding-right: 30px;
}

.download-button {
    position: absolute;
    text-align: center;
    padding-top: 200px; 
    left: 45%;
}

.download-text {
    display: block;
    font-size: 24px; 
    color: #FFFFFF; 
}

.download-button .download-text {
    background-color: #24ac24; 
    padding: 20px 40px; 
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.download-button .download-text:hover {
    background-color: #008000;
}

.about-description {
    font-size: 60px;
    color: #591f9c;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    
    
}

.about-big-description {
    font-size: 40px;
    color: #fff;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 600;
    text-align: center;
    padding-top: 25px;
    padding-left: 625px;
    padding-right: 625px;
    line-height: 125%;
}

.YOU {
    font-size: 60px;
    color:#591f9c;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.services-description {
    font-size: 40px;
    color: #fff;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 600;
    text-align: center;
    padding-top: 25px;
    padding-left: 625px;
    padding-right: 625px;
    line-height: 125%;
}

.services-description h2 {
    font-size: 60px;
    color:#591f9c;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    
}

.form{
    align-items: center;
}

input[type=text], input[type=password] {
    font-family: sans-serif;
    width: calc(100% - 40px);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #917d81;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #fffaf3;
    font-size: 16px;
  }

  .field{
    padding: 20px;
    align-items: center;
  }

  .submit-button{
    background-color: #591f9c;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 35px;
    position: relative;
    top: 50%;
    left: 40%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .submit-button a{
    color: white;
    text-decoration: none;
  }



  @media only screen and (max-width: 768px) {
    .home-description {
        font-size: 40px;
        color: #fff;
        font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        font-weight: 500;
        text-align: center;
        padding: 10px;
    }
    
    .small-description {
        font-size: 20px;
        color: #fff;
        font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        font-weight: 540;
        text-align: center;
        padding-top: 25px;
    }
    
    .achievements{
        position: absolute;
        font-size: 15px;
        color: #fff;
        font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        font-weight: 540;
        text-align: left;
        padding-top: 30px;
        padding-left: 17px;
    }
    
    .achievements p{
        padding: 5px;
    }
    
    .achievements p img{
        display: inline-block;
        height: 15px;
        width: auto;
        padding-right: 10px;
    }
    
    .download-button {
        position: absolute;
        text-align: center;
        padding-top: 160px; 
        left: 30%;
    }
    
    .download-text {
        display: block;
        font-size: 10px; 
        color: #FFFFFF; 
    }
    
    .download-button .download-text {
        background-color: #24ac24; 
        padding: 20px 40px; 
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
    }
    
    .download-button .download-text:hover {
        background-color: #008000;
    }
    

    .about-description {
        font-size: 30px;
        color: #591f9c;
        font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        font-weight: bold;
        text-align: center;
        padding-top: 80px;
        
        
    }
    
    .about-big-description {
        font-size: 20px;
        color: #fff;
        font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        font-weight: 600;
        text-align: center;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 125%;
    }
    
    .YOU {
        font-size: 30px;
        color:#591f9c;
        font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        font-weight: bold;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .services-description {
        font-size: 15px;
        color: #fff;
        font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        font-weight: 600;
        text-align: center;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 125%;
    }
    
    .services-description h2 {
        font-size: 30px;
        color:#591f9c;
        font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        font-weight: bold;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        
    }
    .form{
        align-items: center;
    }
    
    input[type=text], input[type=password] {
        font-family: sans-serif;
        width: calc(100% - 40px);
        padding: 12px 20px;
        margin: 0px 0 15px 20px;
        display: inline-block;
        border: 1px solid #917d81;
        border-radius: 8px;
        box-sizing: border-box;
        background-color: #fffaf3;
        font-size: 16px;
      }
    
    .field{
        padding: 20px;
        align-items: center;
    }
    
    .submit-button{
        background-color: #591f9c;
        border: none;
        border-radius: 8px;
        color: white;
        padding: 15px 35px;
        position: relative;
        left: 35%;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin-top:-10px;
        margin-bottom: 20px;
    }
    .submit-button a{
        color: white;
        text-decoration: none;
    }

    

    .menu-items {
        display: none; /* Hide menu items by default on mobile */
        position: absolute;
        top: 60px; /* Adjust position as needed */
        right: 0;
        left: 0; /* Set left to 0 to make it span the full width */
        background-color: #333;
        padding: 10px;
    }

    .menu-items.show {
        display: block; /* Show menu items when toggled */
    }

    .menu-items.show li {
        display: block; /* Display list items vertically */
        margin-bottom: 10px;
    }


    .menu-items li:last-child {
        margin-bottom: 0;
    }

    .menu-items li a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
    }

    .menu-items li a:hover {
        background-color: #2E055D;
    }

    .logo {
        display:none;
    }

    .menu-image {
        display: inline-block; /* Display the menu image */
        height: 30px; /* Adjust height as needed */
        width: auto; /* Maintain aspect ratio */
        cursor: pointer;
    }
  }